<!-- //shortcut (!) emet  -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/dist/output.css" rel="stylesheet" />
  </head>
  <body class="bg-black">
    <button
      class="w-80 px-6 py-2 rounded-3xl shadow bg-white hover:bg-blue-500 transform hover:scale-110 transition duration-300 ease-in-out"
    >
      <div class="text-center text-black text-base font-bold">
        Create account
      </div>
    </button>
  </body>
</html>
